body {
  height: 100%;
  background-color: black;
}
.bg {
  background-image: url("http://giphygifs.s3.amazonaws.com/media/lAqwNegAjH8mQ/giphy.gif");
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}
hr {
  background-color: red;
}
.btn {
  margin: 4px 2px;
}
.btn-outline-warning,
.btn-outline-primary {
  margin: 5px;
}
#clear-favs:hover {
  cursor: ;
}
.card {
  padding: 5px;
  display: inline-block;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
}
.card:hover {
  cursor: pointer;
}
#results-container {
  margin-bottom: 70px;
}
footer {
  border-top: solid 1px red;
}

@media (max-width: 640px) {
  .giff {
    max-width: 200px;
  }
}
